.chat {
  flex: 0.65;
  display: flex;
  flex-direction: column;
}
::-webkit-scrollbar {
  display: none;
}

.chat__header {
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  background-color: #cee6b4;
  border-top-right-radius: 20px;
}
.chat__headerRight > .MuiIconButton-root {
  color: white;
}

.chat__headerInfo {
  flex: 1;
  padding-left: 20px;
}

.chat__headerInfo > h3 {
  margin-bottom: 3px;
  font-weight: 500;
  color: #1f441e;
}

.chat__headerInfo > p {
  color: #1f441e;
}

.chat__headerRight {
  display: flex;
  justify-content: space-between;
  min-width: 100px;
}
.chat__body {
  flex: 1;
  /*background-image: url("https://wallpapercave.com/wp/wp4410724.jpg"); */
  background-color: #6ca16a;
  background-repeat: repeat;
  background-position: center;
  padding: 30px;
  overflow: scroll;
}

.chat__message {
  position: relative;
  font-size: 16px;
  padding: 12px;
  background-color: #cee6b4;
  border-radius: 10px;
  width: fit-content;
  margin-top: 16px;
  color: black;
}
.chat__reciever {
  margin-left: auto;
  background-color: #9ecca4;
  color: black;
}

.chat__name {
  position: absolute;
  top: -15px;
  font-weight: 800;
  font-size: xx-small;
}

.chat__timestamp {
  margin-left: 10px;
  font-size: xx-small;
}

.chat__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  border-top: 1px solid lightgray;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #cee6b4;
  border-bottom-right-radius: 20px;
}

.chat__footer > form {
  flex: 1px;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}

.chat__footer > form > input {
  flex: 1;
  border-radius: 30px;
  padding: 10px;
  border: none;
}
.chat__footer > form > button {
  display: none;
}

.chat__footer > .MuiSvgIcon-root {
  padding: 10;
  color: black;
}
